<div class="container index">
<div class="card-deck">
  <div class="card border1 mb-3" style="max-width: 18rem;">
    <div class="card-body text-center">
      <h5 class="card-title proy">Proyectos</h5>
      <p class="card-text proy">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border2 mb-3" style="max-width: 18rem;">
    <div class="card-body text-center">
      <h5 class="card-title buenas">Las Buenas Noticias</h5>
      <p class="card-text buenas">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border3 mb-3" style="max-width: 18rem;">
    <div class="card-body text-center">
      <h5 class="card-title comunidad">Comunidad</h5>
      <p class="card-text comunidad">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-warning mb-3" style="max-width: 18rem;">
    <div class="card-body text-warning text-center">
      <h5 class="card-title">Info Extra</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
</div>
<hr>
