<div class="container index">
<div class="card-deck">
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-body text-info">
      <h5 class="card-title">Proyectos</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-warning mb-3" style="max-width: 18rem;">
    <div class="card-body text-warning text-center">
      <h5 class="card-title">Las Buenas Noticias</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-body text-info text-center">
      <h5 class="card-title">Comunidad</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-warning mb-3" style="max-width: 18rem;">
    <div class="card-body text-warning text-center">
      <h5 class="card-title">Info Extra</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
</div>
