<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Info importante</p>
  <hr class="my-4">
  <p>Muchos detalles de la info importante.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
