<div class="container index">
<div class="card-deck">
  <div class="card border1 mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title proy">Proyectos</h5>
      <p class="card-text proy">D.S.19</p>
      <p class="card-text proy">D.S.49</p>
      <p class="card-text proy">Privados</p>
    </div>
  </div>
  <div class="card border2 mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title buenas">Las Buenas Noticias</h5>
    </div>
  </div>
  <div class="card border3 mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title nosotros">Nosotros</h5>
      <p class="card-text nosotros">misión, visión, contacto, ubicación</p>
    </div>
  </div>
  <div class="card border-warning mb-3" style="max-width: 18rem;">
    <div class="card-body text-warning">
      <h5 class="card-title">Info Adicional</h5>
    </div>
  </div>
</div>
</div>
<hr>
