<div class="container footer">
<footer class="pt-4 my-md-5 pt-md-5 text-align mb-5">

    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2019</small>
      </div>

      <div class="col col-md">
        
        <h5>Nosotros</h5>
        <ul class="list-unstyled text-small">
          <li><%= link_to 'Proyectos', projects_path, class:'nav-link1' %></li>
          <li><%= link_to 'Las Buenas Noticias', news_path, class:'nav-link2' %></li>
          <li><%= link_to 'Nosotros', team_path, class:'nav-link3' %></li>
          <li><%= link_to 'Info Adicional', info_path, class:'nav-link4' %></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
