<div class='container mr-5'>
<div class="card text-center mb-4">
  <div class="card-header proy">
    D.S.19
  </div>
  <div class="card-body">
    <p><%= image_tag project.image(project), class: 'card-img-top' if project.image.attached? %></p>
    <p class="card-text text-justify">El D.S. 19 denominado Programa de Integración Social y Territorial, puesto en marcha a partir del año 2016 por el MINVU, considera viviendas para familias vulnerables, y para familias emergentes, y considera una oferta de
      viviendas de hasta U.F. 2.200, son proyectos que buscan una real integración social, en Conjuntos Habitacionales de calidad y bien localizados, para cada proyecto se exigen a lo menos 3 tipologias de vivienda, la primera para familias vulnerables
      hasta UF. 1.100; la segunda con viviendas de entre UF. 1.200 a UF. 1.400; y la tercera con viviendas de entre UF. 1.500 hasta UF. 2.200, los dos últimos tramos exigen contar con mayor ahorro y con acceso a crédito hipotecario.</p>
    <a href="#" class="btn btn1 btn-sm text-white">Más información</a>
  </div>
</div>

<div class="card text-center mb-4">
  <div class="card-header buenas">
    D.S.49
  </div>
  <div class="card-body">
    <p class="card-text text-justify">El D.S. 49 , denominado Programa Habitacional Fondo Solidario de Elección de Vivienda, tiene por objeto promover el acceso de las familias que se encuentran en situación de vulnerabilidad, a una solución habitacional a través de
      un subsidio otorgado por el Estado. El programa está destinado a atender preferentemente a las familias que pertenezcan al 40% más vulnerable de la población nacional. Tratándose de postulaciones colectivas, el grupo organizado podrá incluir como
      máximo un 30% de familias calificadas sobre el 40% y hasta el 90% más vulnerable de la población nacional. El postulante individual a la tipología de Construcción en Sitio Propio podrá pertenecer hasta el 50% más vulnerable de la población nacional.
    </p>
    <a href="#" class="btn btn2 btn-sm text-white">Más información</a>
  </div>
</div>

<div class="card text-center mb-4">
  <div class="card-header us">
    Privados
  </div>
  <div class="card-body">
    <p class="card-text text-justify">Este tipo de proyectos de vivienda, aun cuando puede considerar viviendas que puedan ser adquiridas con subsidio habitacional, y con crédito hipotecario, contempla mayoritariamente viviendas de mayor valor que las UF. 2.200,
      privilegia buenas localizaciones, un mejor estándar de terminaciones y de servicios complementarios en los conjuntos desarrollados.</p>
    <a href="#" class="btn btn3 btn-sm text-white">Más información</a>
  </div>
</div>
<hr>
<p class="text-center mt-5 mb-5"><%= link_to 'Inicio', tasks_index_path, class:'btn search my-2 my-sm-0 text-white btn-sm'%></p>
</div>
