<div class="container proj">
<div class="card text-center mb-5">
  <div class="card-header proy">
    D.S.19
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-sm border1 proy">Más información</a>
  </div>
</div>

<div class="card text-center mb-5">
  <div class="card-header buenas">
    D.S.49
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-sm border2 buenas">Más información</a>
  </div>
</div>

<div class="card text-center mb-5">
  <div class="card-header us">
    Privados
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-sm border3 us">Más información</a>
  </div>
</div>
</div>
