<title>Nosotros</title>
<hr class="featurette-divider">

  <!-- START Disc 1 -->

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">¿Quiénes somos?.</h2>
      <p class="lead">Somos un equipo de personas de distintas profesiones, con distintas experiencias en el ámbito del trabajo con personas y comunidades con vulnerabilidad social, con carencias económicas, culturales y de vivienda.</p><p>Hace ya casi 40 años, quién es el lider principal de este equipo, comenzó a trabajar en una de las comunas más grandes y populosas de Chile, San Miguel, antes de que se dividiera en las 3 actuales, conoció en primera persona la pobreza extrema, a las familiar con carencias de las necesidades más básicas, ideó e implementó junto a otros profesionales, una serie de iniciativas y de obras físicas, que fueron pensadas e ideadas para atender urgentes necesidades.</p><p>En ese momento, detectó que una de las carencias más sentidas por las familias vulnerables, es contar con una vivienda propia, aprovechando el esfuerzo personal, y sumando el apoyo de los distintos programas de subsidio del estado. Ya son más de 3.000 las familias que han sido atendidas con nuestra gestión, particularmente en la región metropolitana, V Región y también la VI Región.</p><p>Hoy tenemos un potente y profesional equipo, hemos asociado a otras empresas y empresarios, que buscan al igual que nosotros hacer algo distinto, viviendas dignas, creando y construyendo barrios y ciudades más amigables, más verdes y amigas del medio ambiente, y de esta forma, mejorar la calidad de vida de todos.</p>
    </div>
    <div class="col-md-5">
      <img src="img/01anti.png" class="imgdiscog"><rect width="100%" height="100%" fill="#eee"/>
    </div>
  </div>


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Misión.</h2>
      <p class="lead">Ser un equipo identificador de las necesidades de vivienda en comunas principalmente de la V Región, apoyar y generar la formación y gestión de comités de vivienda, preparando a sus dirigentes para la administración de sus grupos, asesorarlos en su relación con autoridades, coordinar el trabajo de los distintos profesionales involucrados en un proyecto de vivienda, gestionar y obtener los financiamientos para el desarrollo de los proyectos y su posterior construcción, buscando siempre la máxima eficiencia económica y técnica.</p><p>Ser un motor de cambio, de una oferta habitacional, con los mejores proyectos de vivienda, con las mejores ubicaciones y en los mejores valores altamente competitivos en el mercado inmobiliario de la vivienda con subsidio en Chile.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="img/02total.jpg" class="imgdiscog"><rect width="100%" height="100%" fill="#eee"/>
    </div>
  </div>

  <hr class="featurette-divider">


  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Visión.</h2>
      <p class="lead">Ser capaces de preparar e identificar a todos quiénes necesitan una vivienda, buscando y encontrando, las mejores alternativas del mercado, ya sean de proyectos propios o aquellos que cumplan los estandares exigidos por nosotros, promoviendo y ofreciendo proyectos con una visión humana, más comunitaria, más respetuosa con el medio ambiente, donde las familias vuelvan a vivir una vida en comunidad, y con esto, aportar para lograr una sociedad más solidaria, justa y respetuosa de la individualidad, sumando los intereses de todos, para crear barrio y ciudades humanas.</p>
    </div>
    <div class="col-md-5">
      <img src="img/03holy.jpg" class="imgdiscog"><rect width="100%" height="100%" fill="#eee"/>
    </div>
  </div>
    <hr>
<div class="container">
<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            First radio
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            Second radio
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
          <label class="form-check-label" for="gridRadios3">
            Third disabled radio
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <div class="col-sm-2">Checkbox</div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label" for="gridCheck1">
          Example checkbox
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
<hr>
<p class="text-center mt-5 mb-5"><%= link_to 'Inicio', tasks_index_path, class:'btn search my-2 my-sm-0 text-white btn-sm'%></p>
</div>
