// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index {
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer {
  position: fixed;
}

.text-align {
  text-align: center;
}

.border2 {
  border-color: #fa8b72;
}

.buenas{
  color: #fa8b72;
}

.border1 {
  border-color: #00ccbb;
}

.proy {
  color: #00ccbb;
}

.border3 {
  border-color: #0095ff;
}

.comunidad {
  color:#0095ff;
}
