// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<<<<<<< HEAD
.index {
  margin-top: 100px;
  margin-bottom: 100px;
=======
.footer {
  position: fixed;
}

.text-align {
>>>>>>> development
  text-align: center;
}
